.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: rgb(25, 78, 192);
}

.form {
    width: 300px;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input {
  display: block;
  border: none;
  margin-top: 20px;
  font-size: 1em;
  color: #011272;
  background: transparent;
  width: 98%;
  border-bottom: 2px solid rgb(0, 84, 163);
}

.input:focus {
  outline: none;
  border-color: #028aaf;
  color: black;
}

.error {
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 2px solid #da0000;
    background-color: #cccccc;
    border-radius: 15px;
    animation: fadeOut 6s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}