.page {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 2em;
    color: rgb(0, 49, 139);
}

.span button {
    background-color: rgb(187, 10, 10);
    border-radius: 15px;
}

.span button:hover {
    background-color: rgb(175, 0, 0);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.error {
    margin: 20px;
    padding: 15px;
    font-weight: 600;
    text-align: center;
    color: black;
    width: 20%;
    border: 2px solid #da0000;
    background-color: #cccccc;
    border-radius: 15px;
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 9999; 
    animation: fadeOut 5s ease forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }