.create {
    position: fixed;
}

.lk {
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 49, 139);
}

.fio {
    font-size: 1em;
    font-weight: 500;
    color: rgb(0, 49, 139);
}

.page {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}
