.create {
    position: fixed;
}

.lk {
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 49, 139);
}

.fio {
    font-size: 14pt;
    font-weight: 700;
    color: rgb(0, 49, 139);
}

.fio span {
    color: rgb(0, 101, 160);
    font-weight: 600;
    padding: 10px;
}

.mail {
    font-size: 14pt;
    font-weight: 700;
    color: rgb(0, 49, 139);
}

.mail span {
    color: rgb(0, 101, 160);
    font-weight: 600;
}

.page {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}
